@config "../../tailwind.config.ts";
@import "tailwindcss";

body {
  scroll-behavior: smooth;
}

/* Masonry */
.masonry {
  column-count: 2;
  column-gap: 1.5rem;
}

@media (min-width: 1024px) {
  .masonry {
    column-count: 3;
  }
}

.masonry-item {
  break-inside: avoid;
  margin-bottom: 1.5rem;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}